<p id="notice"><%= notice %></p>
<div class="pb-3 font-italic">
  <h3>
    My Blog
  </h3>
  <%= link_to 'Write a new blog', new_blog_path if logged_in?(:site_admin) %>
</div>
<hr>

<%= render @blogs %>

<nav class="blog-pagination">
  <a class="btn btn-outline-primary" href="#">Older</a>
  <a class="btn btn-outline-secondary disabled" href="#">Newer</a>
</nav>