<h1>Abouut Me</h1>

<hr>

<div class="row">
  <div class="col-md-4">
    <%= image_tag "https://images.unsplash.com/photo-1544137105-295758788545?ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80", width: 250, alt: "About image" %>
  </div>
  <div class="col-md-8">
    <p>I'm a Softwere Developer from Colima, México, an small city at the south of México, I have over 6 years of experience working on the IT industry, I have played the roles as QA Engineer and Softwere Developer through my career development, I am in continiuously learning and development because never is enough and there is always new things to learn.</p>
  </div>
</div>