<h2>Would you like to work together?</h2>
<hr>
<div class="row">
  <div class="col-md-12">
    <h3>Contact me</h3>
    <p><%= number_to_phone "+52-3121191911" %></p>

    <h3>Or</h3>
    <p><a href="mailto:lenin@michelada.io?subject=PortfolioContact" "email me">Email me</a></p>
  </div>
</div>
