<h1 class="cover-heading">Cover your page.</h1>
<p class="lead">"It's not easy to be excellent. However, you can be as good as you care to be,
simply by continuing to work and continuing to improve how you work." - The Nature of software development</p>
<p class="lead">
  <%= link_to "About Me", about_me_path, class: 'btn btn-lg btn-secondary' %>
</p>